
<div class="page">

  <h1>Lista film</h1>

  <button class="btn-add" (click)="openAdd()">
    + Aggiungi
  </button>

  <table *ngIf="items$ | async as items">

    <thead>
     <tr>
        <th>Nome</th>
        <th>Descrizione</th>
        <th>Rating</th>
        <th>Data rilascio</th>
        <th>Categoria</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let c of items" (click)="openDetail(c.id)">

        <td>{{ c.name }}</td>
        <td>{{ c.description }}</td>
        <td>{{ c.rating }}</td>
        <td>{{ c.releaseDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ getCategoryName(c.categoryID) }}</td>

        <td class="actions">

          <button class="btn-edit" (click)="edit(c); $event.stopPropagation()">
            Modifica
          </button>

          <button class="btn-delete" (click)="delete(c.id); $event.stopPropagation()">
            Elimina
          </button>

        </td>

      </tr>

    </tbody>

  </table>

</div>
